

#mainPageProperty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#mainPageHolder{
    margin-left: 3rem;margin-right: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;margin-bottom: 3rem;
    border-radius: 30rem;
}
#mainPageHolder{
    display: flex;
    width: 70rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
}

#groupsHolder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#btnAddGroup{
    background-color: gold;
    color: gold;
    border-style: dashed;
    background-color: goldenrod;
    border-radius: 1rem;
    padding-left: 1rem; padding-right: 1rem;
    padding-top: 0.2rem; padding-bottom: 0.2rem;
    margin-bottom: 2rem;
}