
table{
    margin-top: 2rem;
    border-collapse: collapse;
    border: 1px solid;
    border-color:rgb(207, 207, 207);
    width: 100%;
}

.header-cell{
    text-align: center;
    font-weight: 400;
    border: 1px solid;
    border-color:rgb(207, 207, 207);
    padding: 0.5rem;
    font-weight: bold;
}

.cell{
    text-align: center;
    font-weight: 400;
    border: 1px solid;
    border-color:rgb(207, 207, 207);
    padding: 0.5rem;
}

.navigation-fields{
    padding: 0.8rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
}

.btn{
    background-color: black;
    color: white;
    padding: 1.5rem
}

#main-content{
    padding: 1rem;
}
#title{
    margin-bottom: 3rem;
}

