#inputsHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{ 
    width: 18rem;
    padding: 0.5rem;
    margin: 2rem;
}
button{
    background-color: aqua;
    color:black;
    padding-top: 0.8rem;padding-bottom: 0.8rem;
    padding-left: 1rem;padding-right: 1rem;
    border-style: solid;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
}